---
layout: default
---

<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ site.header-img }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                postlist-container
            ">
            {{ content }}
        </div>
        <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">

            {% if site.tags %}
            <section>
                <hr class="hidden-sm hidden-xs">
                <h5><a href="{{'/tags/' | prepend: site.baseurl }}">标签</a></h5>
                <div class="tags">
                    {% for tag in site.tags %}
                    {% if tag[1].size > 1 %}
                    <a href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                        {{ tag[0] }}
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </section>
            {% endif %}

            <section class="visible-md visible-lg">
                <hr>
                <h5>关于我</h5>
                <div class="short-about">
                    {% if site.sidebar-avatar %}
                    <img src="{{site.sidebar-avatar}}"/>
                    {% endif %}
                    {% if site.description %}
                    <p>{{site.description}}</p>
                    {% endif %}
                </div>
            </section>
        </div>
    </div>
</div>
